
@{
    ViewBag.Title = "List Teams";
}

<h2>Your Teams</h2>
<hr />

<table id="tableTeams" class="table table-striped">
    <thead>
        <tr>
            <th class="hideId">Team Id</th>
            <th>Name</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody data-bind="foreach: teams">
        <tr>
            <td class="hideId" data-bind="text: id"></td>
            <td data-bind="text: name"></td>
            <td data-bind="text: category"></td>
            <td><a href="#">Detail</a></td>
            <td data-bind="click: $root.remove"><a href="#">Delete</a></td>
        </tr>  
    </tbody>
</table>

<input type="button" value="New Team" class="col-md-offset-9 col-md-2 btn btn-primary" onclick="location.href='@Url.Action("manager", "teams")'">
