
@{
    ViewBag.Title = "Manager";
}

<h1>Manager</h1>
<hr />

<form class="form-horizontal">
    <input type="hidden" data-bind="textInput: teamManager.id">

    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Team Name" data-bind="textInput: teamManager.name">
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-sm-2 control-label">Category</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" placeholder="Category" data-bind="textInput: teamManager.category">
        </div>
    </div>
</form>
<br />
<input data-bind="click: createTeam" type="button" value="Next" class="col-md-offset-8 col-md-2 btn btn-primary">

