@{
    ViewBag.Title = "Display";
}

@section scripts{
    
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th class="col-md-2">Home Team</th>
            <th class="col-md-4" colspan="3">Statistic</th>
            <th class="col-md-4" colspan="3">Time</th>
            <th class="col-md-2">Guest Team</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>Goal</td>
            <td colspan="3"></td>
            <td colspan="3"></td>
            <td>Goal</td>
        </tr>
        <tr>
            <td>Shut</td>
            <td colspan="3"></td>
            <td colspan="3"></td>
            <td>Shut</td>
        </tr>
        <tr>
            <td>Fault</td>
            <td colspan="3"></td>
            <td colspan="3"></td>
            <td>Fault</td>
        </tr>
        <tr>
            <td>Half 1</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="2"></td>
        </tr>
        <tr>
            <td>Half 2</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
