
@{
    ViewBag.Title = "ListGames";
}

@section scripts{
    <script src="~/Scripts/App/listGames.js"></script>
}

<h2>My Games</h2>
<hr />

<div data-bind="if: displayMassage">
    <div class="alert alert-info" " role="alert"><h2>No game was created. If you want to create a game, please pres <strong>"New Game"</strong> button.</h2></div>
</div>

<table id="tableGames" class="table table-striped" data-bind="visible: hiddeTable().length > 0">
    <thead>
        <tr>
            <th class="hideId">Game Id</th>
            <th>My Team</th>
            <th>Rivel Team</th>
            <th>Type</th>
            <th>Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody data-bind="foreach: games">
        <tr>
            <td class="hideId" data-bind="text: id"></td>
            <td data-bind="text: teamId"></td>
            <td data-bind="text: rivalTeam"></td>
            <td data-bind="text: type"></td>
            <td data-bind="text: date"></td>
            <td data-bind="click: $root.goDetails"><a href="#">Detail</a></td>
            <td data-bind="click: $root.remove"><a href="#">Delete</a></td>
        </tr>
    </tbody>
</table>

<input type="button" value="New Game" class="col-md-offset-9 col-md-2 btn btn-primary" onclick="location.href='@Url.Action("manager", "games")'">
