@{
    ViewBag.Title = "PlayersGame";
}

@section scripts{
<script src="~/Scripts/App/gamePlayersWizazrd.js"></script>
}
<h2>Players in Game</h2>
<hr />

<br />

<h3>Add new player</h3>
<hr />

<div data-bind="if: displayMassage">
    <div class="alert alert-info"  role="alert">
        <h2>If you want add new player, press this button:</h2>
        <input data-bind="click: showForm" type="button" value="New Player" class="col-md-offset-8 col-md-2 btn btn-primary">
    </div>
</div>

<div data-bind="visible: hiddeForm().length > 0">
    <form class="form-horizontal">
        <input type="hidden" data-bind="textInput: player.playerId">
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Name" data-bind="textInput: player.playerName">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Surname</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Surname" data-bind="textInput: player.playerSurname">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Position</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Position" data-bind="textInput: player.playerPosition">
            </div>
        </div>
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">Number</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" placeholder="Number" data-bind="textInput: player.playerNumber">
            </div>
        </div>
    </form>
    <input data-bind="click: cleanForm" type="button" value="Cancel" class="col-md-offset-1 col-md-2 btn btn-primary">
    <input data-bind="click: createNewPlayer" type="button" value="Add Player" class="col-md-offset-6 col-md-2 btn btn-primary">
</div>

<br /><br />

<h3>Select Players</h3>
<hr />
<table id="tablePlayers" class="table table-striped">
    <thead>
        <tr>
            <th class="hideId">idPlayer</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Position</th>
            <th>Number</th>
            <th></th>
        </tr>
    </thead>

    <tbody data-bind="foreach: players">
        <tr>
            <td class="hideId" data-bind="text: playerId"></td>
            <td data-bind="text: playerName"></td>
            <td data-bind="text: playerSurname"></td>
            <td data-bind="text: playerPosition"></td>
            <td data-bind="text: playerNumber"></td>
            <td><input type="checkbox" value="" data-bind="checked: $root.playerSelected" /></td>
        </tr>
    </tbody>
</table>

<br /><br />

<input data-bind="click: " type="button" value="Back" class="col-md-offset-1 col-md-2 btn btn-primary">
<input data-bind="click: trying" type="button" value="Finish" class="col-md-offset-6 col-md-2 btn btn-primary">