@{
    ViewBag.Title = "PlayersGame";
}

@section scripts{
<script src="~/Scripts/App/gamePlayersWizazrd.js"></script>
}
<h2>Player in Game</h2>
<hr />

<br /><br /><br />

<input data-bind="click: " type="button" value="Back" class="col-md-offset-1 col-md-2 btn btn-primary">
<input data-bind="click: " type="button" value="Finish" class="col-md-offset-6 col-md-2 btn btn-primary">